a {
  text-decoration: none;
}

.user__profile--df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__wd {
  width: 300px;
}

.main__lf {
  padding-left: 300px !important;
  width: 100% !important;
}

.footer-wrapper__mg {
  margin: 0 !important;
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
}

.footer-wrapper__pd {
  padding: 10px 0 !important;
  margin-top: 0 !important;
  display: flex;
  align-items: flex-end;
}

body.dark .sidebar-wrapper {
  width: 300px;
}

body.dark .header-container.container-xxl {
  left: 0px;
}

.user__log-out--pd {
  padding: 0 !important;
}

body.dark .header-container {
  position: relative;
}

body.dark #content {
  margin-top: 0px;
}

.section__wd {
  width: 100% !important;
}

/*?---------------------------Album--Pages---------------------------*/

.main__df {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  margin-left: 0 !important;
}

.album__list--pd {
  padding: 0 !important;
}

.album__list--gr {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-top: 30px;
  gap: 30px;
}

.album__card--title {
  padding: 20px 20px 0 20px;
}

.card__title--mb {
  margin-bottom: 0 !important;
}

.album__card--border {
  border: none !important;
}

/*?---------------------------Album--detail--Pages---------------------------*/

body.dark .card {
  border: 1px solid #191e3a;
  border-radius: 10px;
  background: #060818;
  box-shadow: none;
}

.product__card--bg {
  border: 1px solid #191e3a;
  border-radius: 10px;
  background: #191e3a !important;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.card__video--pd {
  padding: 0 !important;
}

.ratio-16x9 {
  --bs-aspect-ratio: 66.25% !important;
}

/*?---------------------------Clendar--Pages---------------------------*/

body.dark .searchable-container #btn-add-contact {
  margin-right: 0px;
}

button.package__cancellation {
  background-color: #e7515a !important;
  border-color: #e7515a !important;
  color: #fff !important;
}

button.upgrade__package {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  color: #fff !important;
}

/*?---------------------------signup---------------------------*/

.nav-tabs__menu--df {
  display: flex;
  justify-content: center;
}

.register__institutional--hd {
  height: 100vh;
  display: flex;
  align-items: center;
}

/*?---------------------------add-customer---------------------------*/

.form__gr {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 50px;
}

.save__btn--df {
  display: flex;
  justify-content: end;
}

.corporate__packets--df {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

/*?---------------------------packets---------------------------*/

.packages__gr {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
}

body.dark .pricing-table-2 .pricing-plan-features ul li {
  border-bottom: 1px solid #ffffff40;
}

body.dark .pricing-table-2 .pricing-plan .btn-dark.button {
  background: #2196f3;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  box-shadow: none;
}

/*!---------------------------responsive---------------------------*/

@media (max-width: 991px) {
  .sidebar__wd {
    width: 0;
  }

  .navbar {
    background-color: #191e3a;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.04);
  }
}
