a {
  text-decoration: none;
}

.user__profile--df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__wd {
  width: 300px;
}

.main__lf {
  padding-left: 300px !important;
  width: 100% !important;
}

.footer-wrapper__mg {
  margin: 0 !important;
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
}

.footer-wrapper__pd {
  padding: 10px 0 !important;
  margin-top: 0 !important;
  display: flex;
  align-items: flex-end;
}

body.dark .sidebar-wrapper {
  width: 300px;
}

body.dark .header-container.container-xxl {
  left: 0px;
}

.user__log-out--pd {
  padding: 0 !important;
}

body.dark .header-container {
  position: relative;
}

body.dark #content {
  margin-top: 0px;
}

.section__wd {
  width: 100% !important;
}

/*?---------------------------Album--Pages---------------------------*/

.main__df {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  margin-left: 0 !important;
}

.album__list--pd {
  padding: 0 !important;
}

.album__list--gr {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-top: 30px;
  gap: 30px;
}

.album__card--title {
  padding: 20px 20px 0 20px;
}

.card__title--mb {
  margin-bottom: 0 !important;
}

/*?---------------------------Album--detail--Pages---------------------------*/

body.dark .card {
  border: 1px solid #191e3a;
  border-radius: 10px;
  background: #060818;
  box-shadow: none;
}

.card__video--pd {
  padding: 0 !important;
}

.ratio-16x9 {
  --bs-aspect-ratio: 66.25% !important;
}

/*?---------------------------Clendar--Pages---------------------------*/

body.dark .searchable-container #btn-add-contact {
  margin-right: 0px;
}

button.package__cancellation {
  background-color: #e7515a !important;
  border-color: #e7515a !important;
  color: #fff !important;
}

button.upgrade__package {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  color: #fff !important;
}

/*?---------------------------signup---------------------------*/

.nav-tabs__menu--df {
  display: flex;
  justify-content: center;
}

.register__institutional--hd {
  height: 100vh;
  display: flex;
  align-items: center;
}
